<div class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%= render "layouts/header" %>

    <%= render "layouts/sidebar" %>

    <div class="content-wrapper">
      <div class="content">
        <% if(@current_room) %>
        <div class="row vh-87">
          <div class="col-md-8 h-100">
            <%= render "rooms/chatting" %>
          </div>
          <div class="col-md-4 h-100 scroll">
            <%= render "rooms/room_info" %>
          </div>
        </div>
        <% else %>
          <p>You haven't friend or group!</p>
          <p>
            <%= link_to t(".add_contact"), "", data: {toggle: "modal",
                target: "#NewContactModal"}, title: "new contact" %>
             to chatting
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render "static_pages/modal" %>
