<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title"><%= t ".members" %></h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-toggle="modal" data-target="#InviteModal">
        <%= t ".invite" %>
      </button>
      <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
      </button>
    </div>
  </div>
  <div class="box-body no-padding">
    <ul class="users-list clearfix">
      <% @current_room.join_rooms.each do |join| %>
        <li>
          <%= image_tag "" %>
          <span class="users-list-name"><%= join.user.name %></span>
          <span class="users-list-date">
            <%= time_ago_in_words(join.created_at) %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
