<header class="main-header">
  <%= link_to root_path, class: "logo" do %>
    <span class="logo-lg">ChatWalk</span>
  <% end %>
  <nav class="navbar navbar-static-top">
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "", data: {toggle: "modal",
              target: "#NewRoomModal"}, title: t(".create_room") do %>
            <i class="fas fa-users-cog"></i>
          <% end %>
        </li>
        <li>
          <%= link_to "", data: {toggle: "modal",
              target: "#NewContactModal"}, title: t(".new_contact") do %>
            <i class="fa fa-user-plus"></i>
          <% end %>
        </li>
        <li class="dropdown messages-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope"></i>
            <span class="label label-success">4</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <ul class="menu">
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="" class="img-circle" alt="">
                    </div>
                    <h4>
                      Support Team
                      <small><i class="fa fa-clock-o"></i> 5 mins</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="" class="img-circle" alt="">
                    </div>
                    <h4>
                      AdminLTE Design Team
                      <small><i class="fa fa-clock-o"></i> 2 hours</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="" class="img-circle" alt="">
                    </div>
                    <h4>
                      Developers
                      <small><i class="fa fa-clock-o"></i> Today</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="" class="img-circle" alt="">
                    </div>
                    <h4>
                      Sales Department
                      <small><i class="fa fa-clock-o"></i> Yesterday</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="pull-left">
                      <img src="" class="img-circle" alt="">
                    </div>
                    <h4>
                      Reviewers
                      <small><i class="fa fa-clock-o"></i> 2 days</small>
                    </h4>
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">See All Messages</a></li>
          </ul>
        </li>
        <li class="dropdown notifications-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell"></i>
            <span class="label label-warning invite-count">
              <%= @invites.count %>
            </span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">
              <%= t ".you_have" %>
              <span class="invite-count" id="invite_count"><%= @invites.count %></span>
              <%= t ".inviteds" %>
            </li>
            <li>
              <ul class="menu" id="invite_menu">
                <% @invites.each do |invite| %>
                <li class="invite_element p-10 cursor-pointer"
                  value="<%= invite.id %>">
                  <%= t ".invite to" %> <%= invite.room.name %>
                </li>
                <% end %>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown user user-menu">
          <%= link_to "#", class: "dropdown-toggle",
            data: {toggle: "dropdown"} do %>
            <%= image_tag "", class: "user-image" %>
            <span class="hidden-xs"><%= current_user.name %></span>
          <% end %>
          <ul class="dropdown-menu">
            <li class="user-header">
              <img src="" class="img-circle" alt="">
              <p>
                <%= current_user.name %>
                <small>Member since Nov. 2012</small>
              </p>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <%= link_to "Profile", current_user,
                class: "btn btn-default btn-flat" %>
              </div>
              <div class="pull-right">
                <%= link_to "Sign out", destroy_user_session_path,
                method: :delete, class: "btn btn-default btn-flat" %>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
